* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container {
  display: flex;
  height: 100vh;
  background-color: #f2f5f9;
}

.sidebar {
  width: 200px;
  background-color: #0B2656;
  color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.sidebar h2 {
  margin-bottom: 40px;
}

.sidebar ul {
  list-style: none;
  margin-bottom: auto;
}

.sidebar ul li {
  margin: 20px 0;
  cursor: pointer;
}

.sidebar ul li:hover {
  background-color: #16366f;
}

.logout {
  margin-top: auto;
  background: none;
  border: 1px solid #fff;
  color: #fff;
  padding: 10px;
  cursor: pointer;
}

.main-content {
  flex: 1;
  padding: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.header-info {
  display: flex;
  align-items: center;
  gap: 20px;
}

.status {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-section {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.search-section input {
  flex: 1;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.sort-btn {
  background-color: #002B5B;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.patient-table table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}

.patient-table th,
.patient-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.patient-table a {
  color: #0038FF;
  text-decoration: none;
}

.right-panel {
  width: 300px;
  background: #f2f5f9;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.btn {
  padding: 10px;
  background-color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-weight: bold;
  text-align: left;
  box-shadow: 0px 3px 6px #ccc;
}

.summary-box {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.summary-box div {
  background: white;
  padding: 15px;
  border-radius: 12px;
  flex: 1;
  text-align: center;
  box-shadow: 0px 3px 6px #ccc;
}

.stats {
  background: white;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0px 3px 6px #ccc;
}

.stats .yearly {
  float: right;
  font-weight: normal;
}

.stats .graph {
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
  font-size: 12px;
}
