* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}

.container {
  display: flex;
  height: 100vh;
  background-color: #EAEAEA;
}

.sidebar {
  width: 200px;
  background-color: #0B2656;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.sidebar h2 {
  margin-bottom: 40px;
}

.sidebar ul {
  list-style: none;
  margin-bottom: auto;
}

.sidebar ul li a {
  display: block;
  padding: 10px 15px;
  color: #EAEAEA;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.sidebar ul li a:hover {
  background-color: #16366f;
}

.logout {
  margin-top: auto;
  background: none;
  border: 1px solid white;
  color: white;
  padding: 10px;
  cursor: pointer;
}


.form-container {
  width: 500%;
  max-width: 800px;
  margin: auto;
  height: 100vh;
  overflow-y: auto;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #EAEAEA;
  font-family: 'Poppins';
  scrollbar-width: thin;
}

.form-title {
  text-align: center;
  font-size: 30px;
  color: #0B2656;
  margin-bottom: 40px;
  margin-top: 20px;
}

.patient-form {
  display: flex;
  flex-direction: column;
}

.section-title {
  margin: 20px 0 10px;
  color: #0B2656;
  font-weight: bold;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
}

.form-input {
  margin-bottom: 15px;
  padding: 12px;
  border: none;
  border-radius: 6px;
  background-color: white;
  font-size: 14px;
  color: gray;
}

.textarea {
  resize: vertical;
  min-height: 60px;
}

.submit-button {
  margin-top: 20px;
  padding: 12px 24px;
  width: fit-content;
  border: none;
  border-radius: 6px;
  background-color: #0B2656;
  color: white;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-self: center;
}

.submit-button:hover {
  background-color: #16366f;
}
