* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}

.container {
  display: flex;
  height: 100vh;
  background-color: #EAEAEA;
}

.sidebar {
  width: 200px;
  background-color: #0B2656;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.sidebar h2 {
  margin-bottom: 40px;
}

.sidebar ul {
  list-style: none;
  margin-bottom: auto;
}

.sidebar ul li a {
  display: block;
  padding: 10px 15px;
  color: #EAEAEA;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.sidebar ul li a:hover {
  background-color: #16366f;
}

.logout {
  margin-top: auto;
  background: none;
  border: 1px solid white;
  color: white;
  padding: 10px;
  cursor: pointer;
}

.logout a {
  color: white;
  text-decoration: none;
}

.main-content {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.header-info {
  display: flex;
  align-items: center;
  gap: 20px;
}

.staff-status {
  background-color: #EAEAEA;
  padding: 12px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: bold;
}

.status-text {
  color: #0B2656;
}


.patient-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex: 1;
}

.patient-section {
  flex: 3;
  margin-left: 30px;
}

.patient-section h4 {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: bold;
}

.patient-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.patient-card {
  background-color: #f8f8f8;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.right-panel {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.total-patient {
  width: 100%;
  text-align: center;
}

.total-patient p {
  margin-bottom: 10px;
  font-weight: bold;
}

.total-number {
  background-color: #0B2656;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  padding: 30px 0;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}