body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #777;
}

.login-container {
  display: flex;
  height: 100vh;
}

.login-left {
  flex: 1;
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-left img {
  max-width: 90%;
  height: auto;
}

.login-right {
  flex: 1;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f6f6f6;
}

.logo {
  text-align: center;
  margin-bottom: 1px;
}

.logo img {
  width: 240px;
  height: 100px;
}

.logo h2 {
  margin: 10px 0 0;
  font-size: 24px;
  color: #0a2765;
}

.logo p {
  color: #777;
  font-style: italic;
}

form {
  max-width: 300px;
  margin-bottom: 100px;
}

label {
  display: block;
  margin-top: 20px;
  margin-bottom: 5px;
  font-weight: 600;
}

input[type="email"],
input[type="password"] {
  width: 200%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}

.options {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  width: 200%;
}

.options label {
  display: flex;
  align-items: center;
}

.options input[type="checkbox"] {
  margin-right: 5px;
}

button {
  width: 207%;
  margin-top: 30px;
  padding: 12px;
  background-color: #002a73;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #0a2765;
}

/* Divider */
.divider {
  display: flex;
  align-items: center;
  text-align: center;
  color: #888;
  margin: 20px 0;
  width: 207%;
}

.divider::before,
.divider::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #ccc;
}

.divider:not(:empty)::before {
  margin-right: .75em;
}

.divider:not(:empty)::after {
  margin-left: .75em;
}

.btn-google {
  width: 207%;
  background-color: white;
  color: #444;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.btn-google img {
  width: 20px;
  height: 20px;
}

.btn-google:hover {
  background-color: #f7f7f7;
}
